<!--**** ABOUT ME SECTION ****-->
<div class="row">
   <div class="col-sm-12 col-md-12 col-lg-12 about-container">
    <h1>WHO AM I</h1>
    <div id="photo-container">
      <img class="photo" src="styles/images/stephaniePhoto.jpeg">
    </div>
    <div id="bio-container">
      <h4 id="bio">I am a recent graduate from the Nashville
        Software School. I had been in the 3D animation industry for three years before I decided that I wanted to learn to code. As I grew in my animation career, I started to become more and more technical in my job like, handling point caches and using scripts for pipeline performance, this is when I realized that I needed to learn to code, really!<br> Becoming a software developer has been the best decision I have made, and I can't wait
        to be a part of the tech community.
      </h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 block">
    <div id="social-links">
      <h3>How to find me</h3>
      <a target="_blank" href="https://www.linkedin.com/in/smgoldstein" class="btn btn-social-icon btn-lg btn-linkedin">
        <span class="fa fa-linkedin"></span>
      </a>
      <a target="_blank" href="https://github.com/stephanieg0" class="btn btn-social-icon btn-lg btn-github">
        <span class="fa fa-github"></span>
      </a>
      <a target="_blank" href="https://twitter.com/goldsteinJs" class="btn btn-social-icon btn-lg btn-twitter">
        <span class="fa fa-twitter"></span>
      </a>
      <h4>(423) 544-2092 <i class="fa fa-phone"></i></h4>
      <h4>stephanie.miranda.valdez@gmail.com <i class="fa fa-envelope"></i></h4>
    </div>
  </div>
</div>
