<!--Home content-->
    <div class="container-fluid">
      <div class="section">
        <div class="cat cat-f00">
          <h1 class="section-text">Hi! My name is Stephanie Goldstein!</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f01">
          <h1 class="section-text">I am a Software Developer</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f02">
          <h1 class="section-text">who loves cats</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f03">
          <h1 class="section-text">Thank you for stopping by</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f04">
          <h1 class="section-text">Check out my <a class="section-links" href="#">work</a></h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f05">
          <a target="_blank" href="https://www.linkedin.com/in/smgoldstein" class="btn btn-social-icon btn-lg btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f06">
          <a target="_blank" href="https://github.com/stephanieg0" class="btn btn-social-icon btn-lg btn-github">
              <span class="fa fa-github"></span>
            </a>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f07"></div>
      </div>
      <div class="section">
        <div class="cat cat-f08"></div>
      </div>
      <div class="section">
        <div class="cat cat-f09"></div>
      </div>
      <div class="section">
        <div class="cat cat-f00"></div>
      </div>
      <div class="section">
        <div class="cat cat-f01"></div>
      </div>
      <div class="section">
        <div class="cat cat-f02"></div>
      </div>
      <div class="section">
        <div class="cat cat-f03"></div>
      </div>
      <div class="section">
        <div class="cat cat-f04"></div>
      </div>
      <div class="section">
        <div class="cat cat-f05"></div>
      </div>
      <div class="section">
        <div class="cat cat-f06"></div>
      </div>
      <div class="section">
        <div class="cat cat-f07"></div>
      </div>
      <div class="section">
        <div class="cat cat-f08"></div>
      </div>
      <div class="section">
        <div class="cat cat-f09"></div>
      </div>