<!--**** ABOUT ME SECTION ****-->
<div class="block">
  <div class="about">
    <h2 class="work-title">WHO AM I</h2>

    <div class="black-container">
        <img src="styles/images/stephaniePhoto.jpg" class="photo">
        <h4 class="about-description">Hi!,<br>I am a recent graduate from the Nashville
        Software School. I had been in the computer animation industry for three years before I decided that I wanted to learn to code. As I grew in my animation career, I started to become more technical in my job and this is when I realized that I needed to learn to code.<br> Becoming a software developer has been the best decision I have made, and I can't wait
        to be a part of the tech community.</h4>
    </div>
    <div>
      <h2 class="work-title">HOW TO FIND ME</h2>
      <div class="links-contact">
        <div class="links-container">
          <a target="_blank" href="https://github.com/stephanieg0" class="button-link">GITHUB</a>
        </div>
        <div class="links-container">
          <a target="_blank" href="https://www.linkedin.com/in/smgoldstein" class="button-link">LINKEDIN</a>
        </div>
        <div class="links-container">
          <a target="_blank" href="https://twitter.com/goldsteinJs" class="button-link">TWITTER</a>
        </div>
      </div>

      <div class="contact-info-container">
        <h3 class="contact-info">stephanie.miranda.valdez@gmail.com</h3>
        <h3 class="contact-info">423 544 2092</h3>
      </div>
    </div>

  </div>
</div>

<!--*** MOBILE APPS ***-->
<div id="content">
  <div class="block">
    <div class="iphone-noteApp">
      <h2 class="work-title">MOBILE APPS</h2>

      <h4 class="description">ionicNotes app was built using the ionic framework and browser's local storage.</h4>
      <div class="tech-logos-worksection">
        <img class="tech-logo-square-worksection" src="styles/images/javascript-logo.png">
        <img class="ionic-logo-worksection" src="styles/images/ionic-logo.png">
        <img class="tech-logo-square-worksection" src="styles/images/cordovabot-logo.png">
        <img class="tech-logo-square-worksection" src="styles/images/android-logo.png">
        <img class="tech-logo-square-worksection" src="styles/images/mac-logo.png">
      </div>

      <div class="links-container">
        <a target="_blank" href="https://myionicnotes.herokuapp.com" class="button-link">DEMO</a>
      </div>
      <div class="links-container">
        <a target="_blank" href="https://github.com/stephanieg0/myIonicNotes" class="button-link ">GITHUB</a>
      </div>
    </div>
  </div>

<!--*** WEB APPS ***-->
  <div class="block">
    <div class="instaRouteApp">

        <h2 class="work-title">WEB APPS</h2>

        <h4 class="description">Application to save your favorite routes and view them on Google Maps. </br> Get your directions and time in one click</h4>

        <div class="tech-logos-worksection">
          <img class="tech-logo-square-worksection" src="styles/images/javascript-logo.png">
          <img class="tech-logo-square-worksection" src="styles/images/angularjs-logo.png">
          <img class="firebase-logo-worksection" src="styles/images/firebase-logo.png">
          <img class="tech-logo-square-worksection" src="styles/images/googlemaps-logo.png">
        </div>

        <div class="links-container">
          <a target="_blank" href="https://instaroute.firebaseapp.com" class="button-link instaRoute-links">DEMO</a>
        </div>
        <div class="links-container">
          <a target="_blank" href="https://github.com/stephanieg0/instaRoute" class="button-link instaRoute-links">GITHUB</a>
        </div>
    </div>
  </div>

<!--*** COMPUTER ANIMATION ***-->
  <div class="block">
    <div class="computerAnimation">
      <h2 class="work-title">CG ANIMATION</h2>

        <iframe src="https://player.vimeo.com/video/133300413" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen  class="video"></iframe>

  </div>
</div>


<!--*** FOOTER ** -->

<!-- <div>
  <div class="block">
    <div id="social-links">
      <h2>How to find me</h2>
      <a target="_blank" href="https://www.linkedin.com/in/smgoldstein" class="btn btn-social-icon btn-lg btn-linkedin">
        <span class="fa fa-linkedin"></span>
      </a>
      <a target="_blank" href="https://github.com/stephanieg0" class="btn btn-social-icon btn-lg btn-github">
        <span class="fa fa-github"></span>
      </a>
      <a target="_blank" href="https://twitter.com/goldsteinJs" class="btn btn-social-icon btn-lg btn-twitter">
        <span class="fa fa-twitter"></span>
      </a>
      <h4>(423) 544-2092 <i class="fa fa-phone"></i></h4>
      <h4>stephanie.miranda.valdez@gmail.com <i class="fa fa-envelope"></i></h4>
    </div>
  </div>
</div> -->
