<!--Home content-->
    <div class="container-fluid">
      <div class="section">
        <div class="cat cat-f00">
          <h1 class="section-text">Hi! My name is Stephanie Goldstein!</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f01">
          <h1 class="section-text">I am a Software Developer</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f02">
          <h1 class="section-text">who loves cats</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f03">
          <h1 class="section-text">Thank you for stopping by</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f04">
          <h1 class="section-text">Check out my <a class="section-links" href="/#/codebyStephanie/work">work</a></h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f05">
          <a target="_blank" href="https://www.linkedin.com/in/smgoldstein" class="btn btn-outline btn-lg">
              <span class="fa fa-linkedin"> My LinkedIn</span>
            </a>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f06">
          <a target="_blank" href="https://github.com/stephanieg0" class="btn btn-outline btn-lg">
              <span class="fa fa-github"> My GitHub</span>
            </a>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f07">
          <h1 class="section-text">I live in Nashville, TN</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f08">
          <h1 class="section-text">Coffe makes me happy</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f09">
          <img class="tech-logo-square" src="./styles/images/JavaScript-logo.png">
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f00">
          <img class="tech-logo-rectangle" src="./styles/images/jQuery-logo.png">
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f01">
          <img class="tech-logo-square" src="./styles/images/angularjs-logo.png">
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f02">
          <img class="tech-logo-square" src="./styles/images/requirejs-logo.png">
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f03">
          <img class="tech-logo-rectangle" src="./styles/images/nodejs-logo.png">
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f04">
          <img class="tech-logo-square" src="./styles/images/handlebars-logo.png">
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f05">
          <img class="tech-logo-rectangle firebase-logo" src="./styles/images/firebase-logo.png">
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f06">
          <img class="tech-logo-rectangle" src="./styles/images/ionic-logo.png">
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f07">
          <img class="tech-logo-square" src="./styles/images/bootstrap-logo.png">
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f08">
          <h1 class="section-text">I love movies</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f09">
          <h1 class="section-text">Dark chocolate is the bomb!</h1>
        </div>
      </div>
       <div class="section">
        <div class="cat cat-f00">
          <h1 class="section-text">Hi! My name is Stephanie Goldstein!</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f01">
          <h1 class="section-text">I am a Software Developer</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f02">
          <h1 class="section-text">who loves cats</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f03">
          <h1 class="section-text">Thank you for stopping by</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f04">
          <h1 class="section-text">Check out my <a class="section-links" href="/#/codebyStephanie/work">work</a></h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f05">
          <a target="_blank" href="https://www.linkedin.com/in/smgoldstein" class="btn btn-outline btn-lg">
              <span class="fa fa-linkedin"> My LinkedIn</span>
            </a>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f06">
          <a target="_blank" href="https://github.com/stephanieg0" class="btn btn-outline btn-lg">
              <span class="fa fa-github"> My GitHub</span>
            </a>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f07">
          <h1 class="section-text">I live in Nashville, TN</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f08">
          <h1 class="section-text">Coffe makes me happy</h1>
        </div>
      </div>
      <div class="section">
        <div class="cat cat-f09">
          <h1 class="section-text">Check out my <a class="section-links" href="/#/codebyStephanie/work">work</a></h1>
        </div>
      </div>