<div class="row">
  <div class="col-sm-12 ionic-capstone">
    <h1 class="project-title">Ionic App comming soon..</h1>
    <h3 class="content-description">App description...</h3>
    <div class="links-container">
      <a href="#" class="demo-link">Demo</a>
    </div>
    <div class="links-container">
      <a target="_blank" href="#" class="btn btn-outline btn-lg work-git-links">
        <span class="fa fa-github"> GitHub Repo</span>
      </a>
    </div>
    <div class="tech-logos-worksection">
      <img class="tech-logo-square-worksection" src="styles/images/javascript-logo.png">
      <img class="ionic-logo-worksection" src="styles/images/ionic-logo.png">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 content-project video-container">

  </div>
</div>

<div class="row">
  <div class="col-sm-12 instaRoute">
    <h1 class="project-title instaRoute-title">instaRoute</h1>
    <h3 class="content-description">Application to save your favorite routes and view them on Google Maps. </br> Get your directions and time in one click.</h3>
    <div class="links-container">
      <a href="#" class="demo-link">Demo</a>
    </div>
    <div class="links-container">
      <a target="_blank" href="https://github.com/stephanieg0/commuteAlert" class="btn btn-outline btn-lg work-git-links">
        <span class="fa fa-github"> GitHub Repo</span>
      </a>
    </div>
    <div class="tech-logos-worksection">
      <img class="tech-logo-square-worksection" src="styles/images/javascript-logo.png">
      <img class="tech-logo-square-worksection" src="styles/images/angularjs-logo.png">
      <img class="firebase-logo-worksection" src="styles/images/firebase-logo.png">
      <img class="tech-logo-square-worksection" src="styles/images/googlemaps-logo.png">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <img class="instaRoute-image" src="../styles/images/instaRoute-login.png">
  </div>
</div>

<div class="row">
  <div class="col-sm-12 picturelog">
    <h1 class="project-title">Picturelog</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 content-project"></div>
</div>
