<div class="row">
  <div class="col-sm-12 ionic-capstone">
    <h1 class="project-title">Ionic Capstone</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 content-project"></div>
</div>

<div class="row">
  <div class="col-sm-12 instaRoute">
    <h1 class="project-title instaRoute-title">instaRoute</h1>
    <h3 class="content-description">Application to save your favorite routes and view them on Google Maps. </br> Get your directions and time in one click.</h3>
    <div class="links-container">
      <a href="#" class="demo-link">Demo</a>
    </div>
    <div class="links-container">
      <a target="_blank" href="https://github.com/stephanieg0/commuteAlert" class="btn btn-outline btn-lg work-git-links">
        <span class="fa fa-github"> GitHub Repo</span>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <img class="instaRoute-image" src="../styles/images/instaRoute-login.png">
  </div>
</div>

<div class="row">
  <div class="col-sm-12 picturelog">
    <h1 class="project-title">Picturelog</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 content-project"></div>
</div>





        <!--**** PROJECTS SECTION ****-->
   <!-- <div class="row">
        <div id="projects" class="col-sm-12">
          <h3>Projects</h3>
            <div>
              <h4>instaRoute App</h4>
              <img id="instaRoute"src="./styles/images/instaRoute-login.png">
              <img id="instaRoute"src="./styles/images/instaRoute-home.png">
              A fast way to save your routes
            </div>
            <p>-----------------------------------------------------------------------------</p>
            <div>
              <h4>ionic App</h4>
              <img class="temp-block" src="#">
            </div>
            <p>-----------------------------------------------------------------------------</p>
            <div>
              <h4>ionic App</h4>
              <img class="temp-block" src="#">
            </div>
            <p>-----------------------------------------------------------------------------</p>
            <div>
              <h4>Pinterest Mockup App</h4>
              <img class="temp-block" src="#">
            </div>

        </div> -->

   <!--  </div> --><!-- end row -->