        <!--**** PROJECTS SECTION ****-->
   <!-- <div class="row">
        <div id="projects" class="col-sm-12">
          <h3>Projects</h3>
            <div>
              <h4>instaRoute App</h4>
              <img id="instaRoute"src="./styles/images/instaRoute-login.png">
              <img id="instaRoute"src="./styles/images/instaRoute-home.png">
              A fast way to save your routes
            </div>
            <p>-----------------------------------------------------------------------------</p>
            <div>
              <h4>ionic App</h4>
              <img class="temp-block" src="#">
            </div>
            <p>-----------------------------------------------------------------------------</p>
            <div>
              <h4>ionic App</h4>
              <img class="temp-block" src="#">
            </div>
            <p>-----------------------------------------------------------------------------</p>
            <div>
              <h4>Pinterest Mockup App</h4>
              <img class="temp-block" src="#">
            </div>

        </div> -->

   <!--  </div> --><!-- end row -->