
body {
 background-color: #E8E8E8;
 margin: 0;
}
#navigation {
  background-color: white;
  height: 50px;
  box-shadow: 0 3px 5px gray;
  margin: 0;
}

#about-me {
  margin: 40px 30px 0 30px;
  background-color: white;
  box-shadow: 0 3px 5px gray;
  /*border-radius: 5px;*/
  width: 700px;
  height: 550px;
}
#technologies {
  margin: 40px 30px 0 30px;
  /*background-color: white;*/
  box-shadow: 0 3px 5px gray;
  /*border-radius: 5px;*/
  width: 400px;
  height: 550px;
}
#photo {
  float: left;
  margin: 30px 30px 0 20px;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
#bio h4 {
  padding: 10px 10px 0 10px;
  width: 300px;
  float: right;
  text-align: justify;
  line-height: 1.4;
}
#social-links {
  float: left;
  margin: 100px 0 0 0;
}
#projects {
  /*margin: 40px 45px 0 45px;*/
  background-color: white;
  height: 350px;
  box-shadow: 0 3px 5px gray;
  border-radius: 5px;
}
