
body {
 background-color: #E8E8E8;
 margin: 0;
}
/*  Nav bar section */
.stephanie-goldstein {
  margin: 0;
  font-size: 25px;
}

/* About me section */
#about-me {
  padding: 30px;
  margin: 40px 20px 0 20px;
  background-color: white;
  box-shadow: 0 3px 5px gray;
  min-height: 700px;
}
#photo {
  float: left;
  margin-bottom: 20px;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 10px solid #BDBDBD;
  box-shadow: 0 3px 3px gray;
}
#bio h4 {
  margin: 0;
  padding: 0;
  /*width: 300px;*/
  float: right;
  text-align: justify;
  line-height: 1.4;
}
#social-links {
  float: right;
}

/*  technologies section */
#technologies {
  margin: 40px 20px 0 20px;
  background-color: white;
  box-shadow: 0 3px 5px gray;
  /*width: 400px;
  height: 550px;*/
}
#logos {
  margin: 0 25% 0 25%;
}

#javaScript-logo {
  border-radius: 5px;
  width: 80px;
  margin: 10px;
}
#javaScript-logo:hover {
  border-radius: 5px;
  width: 90px;
  margin: 10px;
}

#angularjs-logo {
  width: 80px;
  margin: 10px;
}
#angularjs-logo:hover {
  width: 90px;
  margin: 10px;
}

#jQuery-logo {
  border-radius: 5px;
  width: 200px;
  margin: 10px;
}
#jQuery-logo:hover {
  border-radius: 5px;
  width: 210px;
  margin: 10px;
}
#grunt-logo {
  width: 80px;
  margin: 10px;
}
#grunt-logo:hover {
  width: 90px;
  margin: 10px;
}

#requirejs-logo {
  width: 90px;
  margin: 10px;
}
#requirejs-logo:hover {
  width: 100px;
  margin: 10px;
}

#nodejs-logo{
  border-radius: 5px;
  width: 200px;
  margin: 10px;
}

#firebase-logo {
  width: 200px;
  margin: 10px;
}
#firebase-logo:hover {
  width: 210px;
  margin: 10px;
}
/*  projects section  */
#projects {
  margin: 40px 20px 0 20px;
  background-color: white;
  height: 350px;
  box-shadow: 0 3px 5px gray;
}
